@import 'compass/css3/transition';

.editable {
  cursor: pointer;
}

[class^="icon-"], [class*=" icon-"] {
  color: #a50;
}

h1#pageTitle { margin: 0.5em 0; }

label { cursor: pointer; }

.fade {
  opacity: 1;
  @include transition(visibility 755ms linear, opacity 750ms ease-out);
}

.fade.invisible {
  opacity: 0;
  @include transition(visibility 505ms linear, opacity 500ms ease-in);
}
