@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("/fonts/fontello.eot");
  src: url("/fonts/fontello.eot?#iefix") format('embedded-opentype'), url("/fonts/fontello.woff") format('woff'), url("/fonts/fontello.ttf") format('truetype'), url("/fonts/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-rain:before { content: '\38'; } /* '8' */
.icon-twitter:before { content: '\54'; } /* 'T' */
.icon-github:before { content: '\67'; } /* 'g' */
.icon-plus:before { content: '\229e'; } /* '⊞' */
.icon-minus:before { content: '\229f'; } /* '⊟' */
.icon-cancel:before { content: '\232b'; } /* '⌫' */
.icon-checked:before { content: '\2611'; } /* '☑' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-remove:before { content: '\274e'; } /* '❎' */
.icon-journal:before { content: '\e735'; } /* '' */
.icon-login:before { content: '\e740'; } /* '' */
.icon-logout:before { content: '\e741'; } /* '' */
.icon-publish:before { content: '\e74d'; } /* '' */
.icon-signal:before { content: '\e770'; } /* '' */
.icon-traffic-cone:before { content: '\e7a3'; } /* '' */
.icon-spin:before { content: '\e839'; } /* '' */
.icon-unchecked:before { content: '\f096'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-acedemic:before { content: '🎓'; } /* '\1f393' */
.icon-alert:before { content: '💥'; } /* '\1f4a5' */
.icon-chart-line:before { content: '📈'; } /* '\1f4c8' */
.icon-book:before { content: '📕'; } /* '\1f4d5' */
.icon-download:before { content: '📥'; } /* '\1f4e5' */
.icon-paper:before { content: '📰'; } /* '\1f4f0' */
