@charset "UTF-8";


.icon-twitter:before { content: '\54'; } /* 'T' */
.icon-github:before { content: '\67'; } /* 'g' */
.icon-plus:before { content: '\229e'; } /* '⊞' */
.icon-minus:before { content: '\229f'; } /* '⊟' */
.icon-cancel:before { content: '\232b'; } /* '⌫' */
.icon-checked:before { content: '\2611'; } /* '☑' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-remove:before { content: '\274e'; } /* '❎' */
.icon-journal:before { content: '\e735'; } /* '' */
.icon-publish:before { content: '\e74d'; } /* '' */
.icon-signal:before { content: '\e770'; } /* '' */
.icon-traffic-cone:before { content: '\e7a3'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-spin:before { content: '\e831'; } /* '' */
.icon-unchecked:before { content: '\f096'; } /* '' */
.icon-acedemic:before { content: '🎓'; } /* '\1f393' */
.icon-alert:before { content: '💥'; } /* '\1f4a5' */
.icon-chart-line:before { content: '📈'; } /* '\1f4c8' */
.icon-book:before { content: '📕'; } /* '\1f4d5' */
.icon-paper:before { content: '📰'; } /* '\1f4f0' */